*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url(../images/l2.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: 500%;
}

nav.subcontainer.logo {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    

}

p {
    background-color: lightgreen;

}

div.subcontainer.hero {
    
}

ul {
    
}

div.maincontainer {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;

}