@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-image:url("l2.jpeg");
    background-color:lightseagreen;
    background-position: center;
    background-attachment: fixed;
    background-size: 500%;
}

nav.subcontainer.logo {
    margin-left: 2em;
    margin-right: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding-left: .5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.default-btn {
    background-color: rgb(57, 163, 70);
    width: 50%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1em;
    cursor: pointer;

}


p {
    padding-left: .5em;
    padding-right: .5em;

}


div.subcontainer.hero {
    
}

ul {
    list-style-type: none;
    padding-inline-start: 0%;
    margin-top: 3em;
    padding-bottom: 2em;
    padding-left: 1em;
    
}

div.maincontainer {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;

}

.subcontainer.socials {

}