@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html{
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/*CSS for the hero mobile version TEST FOR REBASE*/
.menuIcon.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 10vw;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.sticky-nav {
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  z-index: 1000;
  padding-left: 5%;
  padding-right: 5%;
}
.sticky-nav.sticky{
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 1000;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all .2s ease-out;
  background-color: #fff;
}

.logo {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 10vw;
  height: auto;
}

.background {
    background: url(./img/hero-background.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}

.maincontainer {
    padding-right: 5%;
    padding-left: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: hidden;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.09) 100%);
    backdrop-filter: blur(2px);
}

nav.subcontainer.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subcontainer.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.subcontainer.socials {
  display: none;
}



li {
  list-style: none;
}

h1 {
  font-size: 5em;
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: -0.09em;
  margin-bottom: 30px;

  line-height: 0.8em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Montserrat";
}

.hamburger {
  z-index: 1;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  margin-top: 2%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.closeIcon.material-symbols-outlined {
  display: none;
  font-size: 4em;
  z-index: 4;
}

.menu {
  position: fixed;
  transform: translateX(100%);
  transition: transform 1s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: white;
  margin: 0;
  list-style: none;
  padding-top: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.showMenu {
  transform: translateX(0);
  transition: transform 1s;
  background-color: white;
  color: white;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
  z-index: 0;
}

.menuItem {
  text-decoration: none;
  color: #000000;
  font-size: 1em;
  line-height: 1.3em;
  font-family: "Montserrat";
  font-weight: 400;
  letter-spacing: -0.09em;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.desktop-menu {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.desktop-nav ul li {
  padding: 5px;
  margin-left: 100px;

};

.sticky-nav {
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all .2s ease-out;
}

/*About*/
.about{
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 15%;
  margin-top: 15%;
}

/* Timeline CSS */
.list-items:nth-child(2n) {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 30px;
  width: 100%;
  padding: 0px;
  align-items: center;
}

.list-items {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  padding: 0px;
  align-items: center;
}

.flex-container {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}

.title-time {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.side {
  width: 50%;
  text-align: center;
}

.h-text {
  display: contents;
}

.timeline {
  padding: 0;
}

.date {
  width: 50%;
  text-align: center;
  font-weight: bold;
  top: 0;
  left: 0;
  font-size: 2.5rem;
  transform: translateX(0px) rotateZ(0deg);
}

.date1 {
  width: 50%;
  text-align: center;
  font-weight: bold;
  top: 0;
  left: 0;
  font-size: 2.5rem;
  transform: translateX(0px) rotateZ(0deg);
}

.h-text {
  display: contents;
  font-size: 1rem;
  font-weight: 500!important;
}
/*i removed padding: 0 100px;*/
li p {
  transform: translateY(-10px);
  opacity: 100;
  
}

.side p{
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .sticky-nav {
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    z-index: 1000;
    padding-left: 5%;
    padding-right: 5%;
  }
  .sticky-nav.sticky{
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1000;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    transition: all .2s ease-out;
    background-color: #fff;
  }
  .mobile-menu{
    display: none;
  }

  section {
    padding-right: 5%;
    padding-left: 5%;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-menu {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.desktop-nav ul li {
    padding: 5px;
    margin-left: 100px;

};

  .menuItem {
    text-decoration: none;
    color: #000000;
    font-size: 1em;
    line-height: 1.3em;
    font-family: "Montserrat";
    font-weight: 400;
    letter-spacing: -0.09em;
}

.hero p {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 150px;
}


  .timeline {
    display: block;
    margin-top: 300px;
    padding: 15px;
    padding-right: 5%;
    padding-left: 5%;
    grid-template-columns: 40% auto;
    justify-content: center;
  }

  .flex-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  .list-items {
    margin-top: 0px;
    position: relative;
    width: 100%;
    padding: 0px;
  }

  li p {
    transform: translateY(-10px);
    opacity: 0;
    /*padding: 0 100px;*/
    margin: 10px;
    transition: 1.5s;
  }

  .h-text {
    display: none;
  }

  .date {
    position: absolute;
    top: -165px;
    left: 25%;
    opacity: 0;
    transition: 1.5s;
    font-size: 3rem;
    font-weight: 900;
    transform: translateX(0px) rotateZ(-90deg);
  }

  .date1 {
    position: absolute;
    top: -195px;
    left: 12%;
    /* opacity: 0; */
    transition: 1.5s;
    font-size: 5rem;
    font-weight: 900;
    transform: translateX(0px) rotateZ(-90deg);
  }

  .timeline-line {
    background: rgb(228, 228, 228);
    width: 100%;
    height: 4px;
    border-radius: 12px;
    position: relative;
    justify-self: end;
  }

  .timeline-point {
    width: 15px;
    height: 15px;
    top: -40px;
    left: 40%;
    transition: 1.5s ease;
    border: none;
    position: absolute;
    border-radius: 50%;
    background: rgb(228, 228, 228);
  }

  .tm-pointxl {
    width: 20px;
    height: 20px;
    top: -42px;
    left: 40%;
    transition: 1.5s ease;
    border: none;
    position: absolute;
    border-radius: 50%;
    background: rgb(228, 228, 228);
  }

  .timeline-innerline {
    position: absolute;
    background: #000;
    width: 0%;
    height: 4px;
    top: 0%;
    left: 0%;
    transition: 1s linear;
    border-radius: 999px;
  }

  .side {
    width: 100%;
    text-align: center;
  }

  .side p:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
  }
}

/* footer css mobile 1st */
.projcontainer {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  padding-right: 5%;
  padding-left: 5%;
}

.project {
  background-color: #f3f3f3;

padding-top: 10%;
}

.joincontainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: 15%;
}

.join {
  background-color: #f3f3f3;
}

.joinsubcontainer {
  background-color: #ffffff;
  width: 80%;
  margin-top: 5px;
  height: 150px;
  text-align: center;
  padding-left: 5%;
    padding-right: 5%;
}

.contact {
  text-align: center;
  margin-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
}

.openButton.white {
  background-color: #ffffff;
  color: #000;
  border: 1px solid black;
}

.footer {
  text-align: center;
}

.subcontainersocials li {
  list-style-type: none;
  
}

.subcontainersocials {
  display: flex;
  padding-left: 0;
  flex-direction: row;
  justify-content: space-around;
}


.logofoot {
  padding-top: 4%;
  width: 15vw;
  height: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}

.footer div {
  margin-bottom: 20px;
}

.imgtree {
  width: 100%;
  padding:0;

}

h4 {
  margin-bottom: 0px;
  font-weight: normal;
}

/* CSS FOR THE POP-UP FORM BELOW (INVISIBLE UNTIL BUTTON CLICKED)*/

.topcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border:#003b00 solid 2px; */
}

.openButton {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 6vh;
    width: 40vw;
    color: white;
    border: none;
    background-color: #000000;
    cursor: pointer;
}

.mainPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.close {
  font-size: 40px;
  color: #000000;
  font-weight: 600;
  display: inline-block;
  transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
  top: -1%;
  right: 3%;
}

.formPopup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10vh;
  padding-left: 32vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50p;
  animation: open 0.5s forwards;
}

@keyframes open {
  0% {
    transform: translate(0%, 0%) scale(1);
  }

  50% {
    transform: translate(0%, 0%) scale(1.2);
  }

  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

#formContainer2 {
  margin-top: 20vh;
}

.formContainer {
  position: relative;
  padding: 1rem;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  position: relative;
  border-radius: 0px 0px 0px 0px;
  border-width: 0px 0px 0px 0px;
}

.formContainer input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border-style: solid;
  border-color: #000000!important;
  border-radius: 1px 1px 1px 1px;
  border-width: 1px 1px 1px 1px;
}

.formContainer input:focus {
  background-color: rgb(177, 254, 182);
  outline: none;
}
.modal-h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000000!important;
  font-weight: 900;
}

.formContainer .btn {
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  color: #FEFFFF!important;
  background-color: #000000;
  border-radius: 0px 0px 0px 0px;
  border-width: 0px 0px 0px 0px;
}

.formContainer .btn:hover{
	background-color:rgba(0,0,0,0.80);
}

.formContainer .cancel {
  background-color: #000000;
}

.formContainer .cancel:hover{
	background-color:rgba(0,0,0,0.80);
}

#message {
  font-size: 1.2rem;
  padding: 10px;
}

.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}


/* Desktop Version Footer */

@media screen and (min-width: 1000px){
  .subcontainersocials {
    display: none;
  }

  .joincontainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 30px;
  }

  .joinsubcontainer {
    flex-basis: 1;
    width: 33%;
  }

  .joincontainer div{
   height: 50vh;
   width: 30%;
  }

  .openButton.white {
    width: 150px;
    margin-bottom: 0px;
  }

  .openButton {
    width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h4 {
    margin-top: 100px;
  }
}

/* .project, .join, .contact, .footer{
  margin-left: -50px;
  margin-right: -50px;
} */

/* End of Desktop Version Footer */

@media screen and (max-width: 850px) {
  .formPopup {
    padding-left: 25%;  
  }

  .desktop-menu{
    display: none;
  }  

  .closeIcon.material-symbols-outlined {
    display: flex;
    position: absolute;
    font-size: 4em;
    z-index: 9;
}

    /* Timeline mobile*/

    .flex-container {
      display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
      }
  
  
    .h-text {
      display:contents;
    }
    
    .timeline {
      padding: 0;
  }
  
    .timeline-line {
      display:none;
    }
    
    .timeline-point {
      display: none;
  
    }
    .date {
      top: 0;
      left: 0;    
      font-size: 3.2rem;
      transform: translateX(0px) rotateZ(0deg);
    }
  
    .date1 {
      top: 0;
      left: 0;
      font-size: 3.2rem;
      transform: translateX(0px) rotateZ(0deg);
    }
  
    .timeline-line {
      display: none;
    }
  
    .timeline-point {
      display: none;
    }
  
    .h-text {
      display: contents;
      font-size: 1rem;
    }

    .menuItem {
      text-decoration: none;
      color: #000000;
      font-size: 5em;
      line-height: 1.3em;
      font-family: "Montserrat";
      font-weight: 900;
      letter-spacing: -0.09em;
    }    
}

@media screen and (max-width: 500px) {
  .formPopup {
    padding-left: 15%;
  }
}

@media screen and (max-width: 350px) {
  .formPopup {
    padding-left: 0%;
  }
}

@media screen and (min-width: 1800px) {
  .formPopup {
    padding-left: 40vw;
  }
}

/* End of CSS For Pop-Up Window */